<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.novel.pay.dao.ChapterValueMapper">

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        chapter_id, coins_value, is_free, update_time, is_allowed_coupon
    </sql>

</mapper>
