<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.novel.pay.dao.ChapterEarningMapper">

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, chapter_id, author_id, coins, trade_time, is_refund, refund_time
    </sql>

</mapper>
